/*
li{
    display: inline;
    float: left;
    padding: 29px;
}
*/



*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 100%;
    min-width: 500px;
    height: auto;
}





nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #C92A2E;
    font-family: 'Noto Serif JP', serif;



}



.logo{
    
    
    color: #EFC988;
    display: flex;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
    
}

.logo a{
    text-decoration: none;
    color: #EFC988;
    font-family: 'Noto Serif JP', serif;

}

.links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.links a{
    color: aliceblue;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 12px;
    
}

.links li{
    list-style: none;
}

.Welcome_Center{
    font-family: 'Noto Serif JP', serif;
    position: absolute;
    top: 30%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-size: larger;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding-bottom: 100px ;
    padding-top: 100px;
    

    
}

.Post-Section{
    font-family: 'Noto Serif JP', serif;
    font-size: large;
    position: absolute;
    top: 48%;
    left: 52%;
    transform: translate(-50%, -50%);


}

.homeblog-post{
    max-width: 800px;
    position: absolute;
    top: 52%;
    left: 35%;




}

input, textarea{
    display: block;
    width: 200%;
    height: 100%;
    border: 2px solid;
    padding: 1.5rem;
    top: 59%;
    left: 42%;
    position: relative;
    font-size: 15px;
}




#sendBtn{
    border: 0;
    background: #C92A2E;
    padding: .5rem;
    color: white;
    margin: 1rem 0;
    width: auto;
    text-transform: uppercase;
    cursor: pointer;
    transition: .4s background ease;

    

}
button{
    position: absolute;
    border: 0;
    padding: .55rem;
    color:#fff;
    background-color: #C92A2E;
    margin: 1rem 0;
    width: auto;
    left: 70%;
    top: 58%;
    cursor: pointer;
    transition: .4s background ease;
}

#mediaBtn{
    border: 0;
    padding: .5rem;
    color:#fff;
    background-color: #d68f14;
    margin: 1rem 0;
    width: auto;
    left: 70%;
    top: 80%;
    cursor: pointer;
    transition: .4s background ease;
    
    
}

#sendBtn:hover{
    background: rgb(168, 0, 0);

}

button:hover{
    background:rgb(168, 0, 0);
}

.links a:hover{
    color: #EFC988;
}

.logo a:hover{
    color: white;
}



body h4{
    font-family:'Noto Serif JP', serif ;
    margin: 20px;
    font-size: larger;
    

    
    
    
}

.tree_img{
    position: relative;
    text-align: center;
    color: black;
    
}

.train_img{
    background-image: url(images/train.jpg);
    opacity: 85%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    
   
  
  
}


html,body{
    background-color: #EFC988;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;

}



.slide-show{
    max-width: 800px;
    position: absolute;
    font-family:'Noto Serif JP', serif ;
    font-size: larger;
    font-weight: 500;


    top: 70%;
    left: 35%;


}

.container2{
    position: relative;
    width: 1200px;
    height: 300px;
    margin: auto;
    
    /* use this so you page stays the same size no matter how big the window is */

}



.container2 .box{
    position: relative;
    width: calc(400px - 30px) ;
    height: calc(300px - 30px);
    background: #ffff00;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
     
}

.container2 .box .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.Fourm_Screen{
    opacity: 100%;
    text-emphasis:initial;
}




















/*
ul{
    list-style-type: circle;
    margin: 10px;
    padding: 10px;
}

li{
    display: inline;
    float: left;
    padding: 20px;
    padding-right: 15px;
    
}
*/

/*
.main-nav{
    border-bottom: 2px solid rgb(255, 102, 26);
    padding-bottom: 50px;
    background-color: bisque;
}
*/



/*
h4{
    padding: 10px;
    margin: 15px;
    float: right;
}*/
