/*
li{
    display: inline;
    float: left;
    padding: 29px;
}
*/



*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 100%;
    min-width: 500px;
    height: auto;
}

img{
    max-width: 100%;
    height: auto;
}





nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #C92A2E;
    font-family: 'Noto Serif JP', serif;



}



.logo{
    
    
    color: #EFC988;
    display: flex;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
    
}

.logo a{
    text-decoration: none;
    color: #EFC988;
    font-family: 'Noto Serif JP', serif;

}

.links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.links a{
    color: aliceblue;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 12px;
    
}

.links li{
    list-style: none;
}

.Welcome_Center{
    font-family: 'Noto Serif JP', serif;
    position: absolute;
    top: 30%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-size: larger;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding-bottom: 100px ;
    padding-top: 100px;
    

    
}

.Post-Section{
    font-family: 'Noto Serif JP', serif;
    font-size: large;
    position: absolute;
    top: 48%;
    left: 52%;
    transform: translate(-50%, -50%);


}

.homeblog-post{
    max-width: 800px;
    position: absolute;
    top: 52%;
    left: 35%;




}

input, textarea{
    display: block;
    width: 200%;
    height: 100%;
    border: 2px solid;
    padding: 1.5rem;
    top: 59%;
    left: 42%;
    position: relative;
    font-size: 15px;
}




#sendBtn{
    border: 0;
    background: #C92A2E;
    padding: .5rem;
    color: white;
    margin: 1rem 0;
    width: auto;
    text-transform: uppercase;
    cursor: pointer;
    transition: .4s background ease;

    

}
button{
    position: absolute;
    border: 0;
    padding: .55rem;
    color:#fff;
    background-color: #C92A2E;
    margin: 1rem 0;
    width: auto;
    left: 70%;
    top: 58%;
    cursor: pointer;
    transition: .4s background ease;
}

#mediaBtn{
    border: 0;
    padding: .5rem;
    color:#fff;
    background-color: #d68f14;
    margin: 1rem 0;
    width: auto;
    left: 70%;
    top: 80%;
    cursor: pointer;
    transition: .4s background ease;
    
    
}

#sendBtn:hover{
    background: rgb(168, 0, 0);

}

button:hover{
    background:rgb(168, 0, 0);
}

.links a:hover{
    color: #EFC988;
}

.logo a:hover{
    color: white;
}



body h4{
    font-family:'Noto Serif JP', serif ;
    margin: 20px;
    font-size: larger;
    

    
    
    
}

.tree_img{
    position: relative;
    text-align: center;
    color: black;
    
}

.train_img{
    background-image: url(images/train.jpg);
    opacity: 85%;
    height: 100vh ;
    background-size: cover;
    background-position: center;
    
   
  
  
}


html,body{
    background-color: #EFC988;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;

}




.container2{
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 0px auto;
    
    /* use this so you page stays the same size no matter how big the window is */

}



 .box{
    position: relative;
    width: calc(400px - 30px) ;
    height: calc(300px - 30px);
    background: wheat;
    float: left;
    margin: 15px ;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    top: 100px;
     
}

.container2 .box .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #C92A2E;
    transition: 0.5s;
    z-index: 1;

}

.container2 .box:hover .icon{
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.container2 .box .icon .fas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    transition: 0.5s;
}

.Fourm_Welcome{ 
    max-width: 800px;
    position: relative;
    text-align: center;
    font-family:'Noto Serif JP', serif ;
    font-size: 30px;
    font-weight: 1500;
    font: outline;
    left: 550px;
    top: 10px;
    background:  linear-gradient(to right, wheat, white);
    padding-bottom: 50px ;
    padding-top: 50px;
    border-bottom: 3px solid wheat;
    border-top: 3px solid wheat;
    border-left: 3px solid wheat;
    border-right: 3px solid wheat;
    border-radius: 10px;
    
}

.container2 .box .content{
    text-align: center;
    position: absolute;
    height: calc(100% - 100px);
    top: 100%;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
}
.container2 .box:hover .content{
    top: 100px;
    

}

.container2 .box .content h3{
    margin: 0 0 10px;
    padding: 0%;
    font-size: 24px;
}

.container2 .box .content p{
    margin: 0%;
    padding: 0%;
    color: #C92A2E;
    
}




.slideshow{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slideshow-item{
    width: inherit;
    height: inherit;
    position: absolute;
    animation: cycleImages 51s infinite;
    opacity: 0;

}



.slideshow-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: zoom 51s infinite;
}


.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img{
    animation-delay: 0s;
}

.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img{
    animation-delay: 10s;
}


.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img{
    animation-delay: 20s;
}

.slideshow-item:nth-child(4),
.slideshow-item:nth-child(4) img{
    animation-delay: 30s;
}

.slideshow-item:nth-child(5),
.slideshow-item:nth-child(5) img{
    animation-delay: 40s;
}




.slideshow-item-text{
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: rgb(0, 0, 0, .7);
    color: #fff;
    padding: 2rem 2rem;
} 

.slideshow-item-text h5{
    font-size: 5rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 2.5rem;
}


.slideshow-item-text p{
    font-size: 1rem;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 2.5rem;
    font-weight: 300;
}


@keyframes cycleImages {

    25%{
        opacity: 1;
    }

    40%{
        opacity: 0;
    }

}

@keyframes zoom{
    100%{
        transform: scale(1.3);
    }
}

@media screen and (max-width: 1000px){
    .slideshow-item-text{
        max-width: 50%;
        padding: 2rem 2rem;
    } 

}


@media screen and (max-width: 767px){
    .slideshow-item-text{
        max-width: 100%;
        padding: 2rem;
        top: initial;
        bottom: 0;
        transform: initial;
    } 

}















/*
ul{
    list-style-type: circle;
    margin: 10px;
    padding: 10px;
}

li{
    display: inline;
    float: left;
    padding: 20px;
    padding-right: 15px;
    
}
*/

/*
.main-nav{
    border-bottom: 2px solid rgb(255, 102, 26);
    padding-bottom: 50px;
    background-color: bisque;
}
*/



/*
h4{
    padding: 10px;
    margin: 15px;
    float: right;
}*/
